name: Linux CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      # golangci-lint is required by test.sh. Latest version here if you want
      # to bump it, version number is at the end of the "curl | sh"
      # commandline below:
      # https://github.com/golangci/golangci-lint/releases/latest
      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b "$(go env GOPATH)"/bin v2.8.0

      # The two builds here make running test.sh faster, and it's nicer to see
      # the build times separately from the test times.
      - run: go build ./...
      - run: go build -race ./...
      - run: ./test.sh

      # -race is not supported on i386
      - run: GOARCH=386 go build ./...
      - run: GOARCH=386 ./test.sh
